# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TH_KT&TKPM\15_18079021_NguyenVanHung_KetThucThucHanh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
